img {
  width: 100px;
}


body {
  font-family: Sans-Serif;
  background-image: url('/bg-spring.png');
}

.bottom-page {
  width: 100%;
  position: absolute;
  bottom: 0;

}

.img-test {
  position: relative;
  display: block;
  width: 100%;
  z-index: -1;
}
